.container1
{
  width: 80%;
  height: 80%;
  margin: 0.6rem 0.6rem 0.6rem 0.6rem;
  padding-left: 1.8rem;
}

.save
{
  color: #4E5150
}

.country
{
  display: inline;
}

h6
{
  padding-top: 1.2rem;
  margin-left: 3.6rem;
  display: inline;
  font-size: 0.96rem;
}

 .increment
 {
   align-items: center;
   position: relative;
   left: 200px;
   bottom: 180px;
   height: 52px;
   width: 134.25px;
   border: 1px solid black;
   border-radius: 12px;
 }

 .increment
 {
   align-items: center;
   position: relative;
   left: 12rem;
   bottom: 7.2rem;
   height: 3.12rem;
   width: 8.115;
   border: 0.06rem solid black;
   border-radius: 0.72rem;
 }
 .decrement
 {
   align-items: center;
   position: relative;
   left: 12rem;
   bottom: 3.6rem;
   height: 52px;
   width: 134.25px;
   border: 1px solid black;
   border-radius: 12px;
 }


.lowerImage
{
  position: absolute;
  bottom: 185px;
}

.upperImage
{

  position: absolute;
  top: 40px;
}
.price1
{
  margin-left: 160px;
}
.price2
{
   margin-top: 65px;
    margin-left: 160px;
}

del
{
  padding-left: 20px;
}

img
{
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 12px;
}

.vintage
{
  position: relative;
  left: 900px;
  bottom: 900px;
  width: 380px;
  height: 535px;
  background-color: #F2F2F2;
  border-radius: 12px;
}

.title
{
  position: relative;
  left: 100px;
  top: 30px;
}
h4
{
  font-size: 16px;
  font-weight: 600;
  position: relative;
  left: 100px;
  bottom: 10px;
  padding-left: 100px;
  padding-top: 50px;
}

.placeicon
{
  font-family: fontawesome;
  font-size: 16px;
  padding-left: 20px;
}

input
{
  display: block;
  width: 465px;
  height: 56px;
  left: 240px;
  top: 218px;
  border-radius: 12px;
  font-size: 16px;
  font-weight:500;
}


h1
{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
color: #4E5150;
}

h3
{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #333333;
}

label
{
  font-size: 12px;
  color: #4F4F4F;
  line-height: 14.63px;
}

div
{
    font-family: 'Montserrat';
}

div h5
{
  display:  block;
}

#city
{
  display: block;
}
p
{
  position: relative;
  left: 40px;
  bottom: 20px;
  font-size: 12px;
  color: #F2994A;
  font-weight: 600;
  line-height: 14.63px;
  vertical-align: top;
}


.checkbox1
{
  width: 21px;
  height: 21px;
}
.button
{
  position: relative;
  width: 166px;
  height: 54px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  background-color: #F2994A;
}

